* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap:wrap;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sale_img img {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    width: 250px;
}

.course-card img {
    width: 100%;
}

.topics {
    padding: 10px;
}
.topics__container{
    display:flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
    }
.topics__container p{
    border:solid gray 1px;
    flex-grow:1;
    padding: 10px;
    flex-basis:25%;

}
.popular{
    padding:10px;
    }
.popular_container{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    flex-wrap: wrap;
}
.footer_one{
    padding:10px;
    display:flex;
    gap: 10px;
}
.footer_one p{
    margin: 20px;
}
.footer_two{
    padding: 10px;
    margin:20px;
    align-items: center;
    display:flex;
    justify-content:space-between;
}
.footer{
    background-color: black;
    color:white;
}
