* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position:sticky;
    top:0;
    background-color:white;
    z-index: 1;

}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color:transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
.mylearing{
    position: relative;
    cursor: pointer;
}
.mylearing__popup{
    background-color: white;
    position:absolute;
    width:100%;
    top:50px;
    right:0;
    border:2px solid black;
    padding: 10px;
    display: none;
    
}
.mylearing:hover .mylearing__popup{
    display:block;
}
.categories {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap:wrap;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border:1px solid #A435F0;
}
.categories p:hover {
    transition: 0.5s;
    background-color:transparent;
    color:black;
    border:1px solid #A435F0;
}

.sale_img img {
    width: 100%;
    position: relative;
}
.sale_img__offer{
    width:35%;
    background-color: white;
    border:2px solid black;
    position: absolute;
    top:20%;
    left:10%;
    padding: 2%;
    animation-name: zoom;
    animation-duration: 5s;
    /* animation-iteration-count: infinite; */
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    flex-grow: 1;
    flex-basis: 20%;
    margin:5px;
}

.course-card img {
    width: 100%;
}

.topics {
    padding: 10px;
}
.topics__container{
    display:flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
    }
.topics__container p{
    border:solid gray 1px;
    flex-grow:1;
    padding: 10px;
    flex-basis:25%;

}
.popular{
    padding:10px;
    }
.popular_container{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    flex-wrap: wrap;
}
.footer_one{
    padding:10px;
    display:flex;
    gap: 10px;
}
.footer_one p{
    margin: 20px;
}
.footer_two{
    padding: 10px;
    margin:20px;
    align-items: center;
    display:flex;
    justify-content:space-between;
}
.footer{
    background-color: black;
    color:white;
}
@media screen and (max-width:600px){
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:500px){
    .course-card{
        flex-basis: 40%;
    }
    .categories{
        display:none;
    }
    .navbar__s2,.navbar__s3{
        display:none;
    }
    
}
@media screen and (min-width:500px){
    
    .navbar__s4{
     display:none;   
    }
}